body{

  background-color: #232931;
  color: #eeeeee;
}

.App {
  width: 400px;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;



}

.todo-list{
  display: flex;
  flex-flow: column;
  text-align: left;
  

  width: 290px;
    padding: 10px;
    margin-top: 5px;

    border-top: 1px solid #4ecca3;

  background-color: #393e46;

}

.todo-form{
  margin-top: 5%;
}

.todo-form input{
  width: 290px;
  border: 0;
  padding: 10px;
  margin: 5px;
}

.todo-form button{
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 5px;
  background-color: #393e46;
  color: #eeeeee;

}

.todo-item input{
  border: 0;
  background-color: #4ecca3;
}

